<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>icon.png</string>
	<key>CFBundleIdentifier</key>
	<string>de.jamalu.tableplus.action</string>
	<key>CFBundleName</key>
	<string>TP</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LBDebugLogEnabled</key>
	<true/>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string></string>
		<key>LBEmail</key>
		<string></string>
		<key>LBSummary</key>
		<string>Quickly open TablePlus connections</string>
		<key>LBTwitter</key>
		<string>https://twitter.com/ludwigmatthias</string>
		<key>LBWebsiteURL</key>
		<string></string>
	</dict>
	<key>LBRequiredApplication</key>
	<string>com.tinyapp.TablePlus</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>string</string>
			</array>
			<key>LBKeepWindowActive</key>
			<true/>
			<key>LBLiveFeedbackEnabled</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBScriptName</key>
			<string>run.js</string>
		</dict>
	</dict>
</dict>
</plist>
